/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5EBEC4;
    color:#fff;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 1em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
    font-size: 18px;
}

section {
    padding: 4em 0;
}

.about-me p,
.skills ul,
.contact p {
    font-size: 18px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.projects .project-card {
    background-color: #333;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.projects .project-card:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
